ul li.red-text,
ol li:nth-child(2),
ol li:nth-child(4) {
    color: red;
}

.box:nth-child(2) p.white-text {
    color: white;
}

#interact-button {
    background-color: transparent;
    border: 2px solid black;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s, border-radius 0.3s;
    cursor: pointer;
    border-radius: 20px;
}

#interact-button:hover {
    background-color: blue;
}

#interact-button.clicked {
    border-radius: 0;
    transform: scale(1.2);
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    display: inline-block;
}

.box p:first-child {
    font-style: italic;
}
